.o-megamenu__mobile
  height 100%
  width 0
  position fixed
  z-index 30
  top 0
  left 0
  background-color #fff
  overflow-x hidden
  transition 0.5s
  ul
    list-style-type none
    margin 0
    padding 0
  hr
    margin 0
  &.menu-drawer
    width: 70%



/* 21019 start */
.m-megamenu__section
	.m-row
		&:active
			background-color $silver
  /* 21019 */
