
@media only screen and (max-width: 991px)
    .o-product-purchase
        display: grid
        grid-template-columns: 100%
        grid-template-rows: auto auto auto

        & > div:not(:last-child)
            padding-bottom: 16px

        div

            & .m-product__purchase__share
                height: 80px
                display: flex
                justify-content: center
                align-items: center

                span
                    font-size: 16px
