.o-container-shadow
  background-color $white
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.15)
  height auto
.m-list-grid
  line-height 2.4em
  text-align center
  .a-grid-link
    color $carbon
    text-decoration none
    &:after
      text-decoration none
    i
      font-size .75em
      margin-left .75em 
  .a-grid-link.show
    i:before
      content "\e919"

.m-filters-btn
  .a-filters-btn
    i
      font-size .75em
      margin-left .75em

.m-filters__selected
  margin-bottom 4px
  padding 4px 23px 0
  .mdc-chip-set
    display inline-block
    padding 0
    
.a-btn__filters
  display block
  float right