.-personalData
    text-align: left
    color: $carbon
    .a-personalData-content__title
        font $title5
        padding 22px 0px
        margin 0
    .a-personalData-label
        font $body1
    .a-personalData-text
        font $body1-description
        color $lead
.m-pesnalData-info__group
    margin-left 35px