


.m-storeLocator-map
    .o-box
        height 100%
        padding: 12px
        border-radius: 4px
    .m-storeLocator-title__mobile
        font $title6
        color $carbon
        box-shadow $b-shadow-card
        background $white
        border-radius: 4px
        padding: 12px 16px
        margin: 0px
        .a-btn__filters
            font $body2
    #map
        width: 100%
        height 100%
        html, body
            height: 100%
            margin: 0
            padding: 0
@media only screen and (max-width:992px)
    .-storeLocator
        margin: 0px!important
    .m-storeLocator-map 
        height 552.8px
        .o-box
            padding: 0px
            margin: 0px
    #map
        height: 100vh!important;