

.m-vendors
  border 1px solid $whisper
  border-radius 4px
.vendors__title
  background $gray-mid
  padding 8px 10px
.m-vendors__description
  padding 8px 10px
.m-vendors__offersTitle
  mixin-font($body2, $gray-night)
  text-decoration none !important
.m-vendors__description.cursor-pointer
  cursor: pointer;

  