.o-comparator
  background $white
  border-radius 4px
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.15)
  padding 2em 7em
.m-title__comparator
  border-bottom 1px solid $timberwolf
.m-table__comparator
  margin-top 1em
  table
    border 1px solid $gray
    th
      background $soft-gray
      border-right 1px solid $gray-darker
      mixin-font($body2, $lead)
      padding .3rem .75rem
    td
      mixin-font($body2, $carbon)
      padding .3rem .75rem
    .td-line
      border-left 1px solid $gray-darker
      mixin-font($body2, $carbon)
      text-align center