.m-createAccount__container-title
    padding: 15px 22px
    border-bottom: 1px solid $timberwolf
    @media screen and (max-width: 991.5px)
        padding: 15px 0

.a-container-title-text
    font: $body1
    margin: 0
    @media screen and (max-width: 991.5px)
        font: $title6