

.o-box.-store__details
    margin 28px 0px
    padding 12px
    height auto
    font $body2
    color $carbon
    label
        font $caption
        margin-bottom 4px
    ul
        padding 0px 15px
.a-btn-details__storeLocator
    margin-bottom: 20px
.o-box 
	background #fff
	box-shadow 0 2px 4px 0 rgba(0,0,0,0.15)
	margin-bottom 16px
	border-radius 4px

@media only screen and (max-width:992px)
    .-storeLocator
        margin: 0px!important
    .m-storeLocator-map 
        height 552.8px
       
.m-storeLocator-title__mobile
        font $title6
        color $carbon
        box-shadow $b-shadow-card
        background $white
        border-radius: 4px
        padding: 12px 16px
        margin: 0px
        .a-btn__filters
            font $body2