.a-buttonTabIcon--selected
  background $primary-color
  width auto
  height auto
  border-radius 46%
  padding 0 7px
  margin 0
  margin-top 10px
  line-height 24px
  margin-left 5px
  color white

.a-buttonTabIcon--unselected
  background $lead
  width auto
  height auto
  border-radius 46%
  padding 0 7px
  margin 0
  margin-top 10px
  line-height 24px
  margin-left 5px
  color white
  
.a-bundleDescription
  font-family roboto
  color $carbon
  font-size 12px
  font-weight 300
  font-style normal
  font-stretch normal
  // line-height normal
  letter-spacing normal
  margin 0
  margin-bottom 12px
  height 16px

.a-bundleDescription--enphasis
  font-size 16px
  font-weight normal
  height 21px
  margin-bottom 3px

.a-bundleDescription--total
  color $red

.a-bundleDescription--fEstimadaTitle
  font-weight normal
  margin 0
  margin-top 12px
.a-bundleDescription--fEstimadaTitleHighlighted
  font-size 14px
  height 19px
  color $lime-green
.a-columnName
  font: $body2-others
  font-weight normal
  font-style normal
  font-stretch normal
  line-height normal
  letter-spacing normal

.-marginSeparatorTop
  margin-top 16px
  margin-bottom 1px
  
