.o-product__optionsHybrid
    margin-top 20px

.o-product__digitalType
    font-size 11px
    color  #0ABD3E

.o-pdp__productDigital--Down
    margin-top 22px

.a-product__paragraphProductDownloadable
    margin-bottom 4px

.m-pdp__select--digital
    margin-bottom 6px
.o-product__optionsHybrid--MarginBottom
    margin-bottom 25px
