.m-megamenu_dropdown_show
{
      color:$primary-color!important;
      cursor:pointer!important;
}
.mdc-text-field-helper-line, .mdc-select-helper-line{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.mdc-text-field-helper-text, .mdc-select-helper-text{
  text-align: left !important;
}
.mdc-text-field--invalidphone:not(.mdc-select--disabled).mdc-text-field--invalidphone + .mdc-select-helper-line,
.mdc-text-field--invalidphone:not(.mdc-select--disabled).mdc-text-field--invalidphone + .mdc-select-helper-line .mdc-select-helper-text--validation-msg {
  opacity: 1;
  color: #f00;
}
.mdc-text-field--invalidphone:not(.mdc-select--disabled) .mdc-floating-label{
  color: #f00;
}
.icon-back.a-menuBack__icon {
    color: $a-topLink-color;
}
p.a-blockElement.a-blockElement--enphasis.s {
    //width: 104%;
}
.account-show{
   background-color: rgba(0, 0, 0, 0.7)
}
.modal-content.gr {
    height: 548px!important;
}
.o-selectCelebrated__items.o-selectCelebrated__items--choiceCelebrated.thirdParties {
    padding-bottom: 6px!important;
}
.o-resultGiftTable__body.events {
    padding: 0px 0px 0px 17px!important;
    padding-top: 0px!important;
        width: 533px!important;;
}
#invoiceCreateTitle span {
    font: 1.25rem 'robotoMedium';
    color: #333;
}
.a-billingRequirements__links {
      color: #e10098;
}
#invoiceConfirmationTitle{
  margin-bottom: 1.5rem!important;
}
span.promotion_strong {
    font-weight: 600;
}
span.a-product__productPromoDescription {
    font-weight: 500;
}
.o-billingRequirements__box {
      margin-bottom: 100px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 15px 25px;
}
#asideHeading H1{
  margin-left:25px;
}
/* Defect 22109 */
.o-preferencesContainer .m-myAccount-aside-title--mobile{
  margin-bottom: 0px;
}
.modal-content.grs {
  height: 548px!important;
}
.o-selectCelebrated__items.thirdParties.s {
    padding-bottom: 0px!important;
}
.step4-alert {
    width: 100%!important;
}
.modal-dialog.modal-dialog-centered.s {
    max-width: 568px!important;
}
.o-findGiftTable__body{
    z-index: 0
}
.o-findGiftTable__items[name="dateEventFindGiftTable"] {
    z-index: 1;
}
img.cursurDef.m-imageProductMyBag.m-imageProductMyBag--isntAvailable,
.m-imageProductMyBag--isntAvailable::after {
    cursor: default;
}
.a-btn--primary
  &:disabled
			opacity: 0.5;
.activecmp label
    color: $primary-color !important;
    cursor: pointer;
.homepage .card-img-top
{
      width: 259px !important;
      height: 200px;
}
/* 20621 bug */
.giftitem .icon {
    background: transparent url(/static/images/icono-gr.png) no-repeat scroll;
    display: inline-block;
    padding: 10px 12px;
    vertical-align: middle;
    margin: 0;
}
/* 20621 bug */
/*
.labelClassname
  font-family: 'robotoregular' !important;
  height: 24px;
  line-height: 24px;
  */ /* commented for alignment issues on CLP left nav */

/*defect fixed 19741*/
.o-product__optionsHybrid--MarginBottom .mdc-select p{
  padding:4px 10px;
}
/*end of defect fixed 19741*/

//- bootstrap custom styles
figure
  cursor: pointer;
@media (min-width: 1200px)
  .container
    max-width 1440px
@media (max-width: 1200px)
  .container
    max-width 1200px

.pswp__zoom-wrap .video-slide {
        width: 100%;
        max-width: 400px;
        color: #FFF;
        margin: 10% auto;
        text-align: center;
        background: white;
}


/*defect fixed 19068*/
.m-plp-card-container .a-plp-product-info .m-checkbox__button {
    display: none;
}
@media (min-width: 992px){
.m-plp-card-container:hover .a-plp-product-info .m-checkbox__button {
    display: flex;
}
}
/*end of defect fixed 19068*/
/* Start: For ProductSocialShareModal */

.custom-facebook, .custom-twitter, .custom-email, .custom-copy
  display: inline-block!important
  width: auto!important
  padding: 0!important
  margin: 25px 0 0 25px

.custom-facebook-icon
  cursor: pointer

.custom-facebook-icon > div, .custom-twitter-icon > div, .custom-email-icon > div
  display: inline-block
  margin-right: 20px

/* End: For ProductSocialShareModal */

/* Start: Defect 21776 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
  .airTimeDefaultTop-mobile
    top: 56px!important

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .airTimeDefaultTop-mobile
    top: 56px!important

@media only screen and (min-device-width : 481px) and (max-device-width : 767px)
  .airTimeDefaultTop-mobile
    top: 56px!important

/* End: Defect 21776 */

/* Start: Defect 19262 */
.m-seoText
    margin-top: 100px
    padding-bottom: 50px
.a-seoText
    &-p
        line-height: 1.25
        font: $body2
        margin-bottom: 15px
        &--bold
            font: $body2-footer
.m-seoTitle-text
  margin-bottom: 50px
  hr
      border-color: $whisper
      border-width: 1px
      z-index: -1
  &-p
      font: $seoText-light
      color: $gray
      background: $background-color
      z-index: 1
      padding-right: 25px
      position: absolute
      top: -13px
      margin: 0
      span
          font: $seoText-bold
          color: $carbon
          &:last-child
              color: $primary-color
.m-seoTitle-text-p span
  font: 1.375rem 'robotoBold'
  color: #333
.m-seoTitle-text-p span:last-child
  color: #e10098

/* End: Defect 19262 */

/* Start: Defect 19373 */
@media only screen and (min-width: 1025px)
  .modal-fixed-header
    .modal-content
      .modal-body
        overflow-y: auto

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
  .modal-fixed-header
    .modal-content
      .modal-body
        overflow-y: auto

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
  .modal-fixed-header
    .modal-content
      .modal-body
        //margin-top: 56px!important

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .modal-fixed-header
    .modal-content
      .modal-body
        //margin-top: 56px!important

@media only screen and (min-device-width : 481px) and (max-device-width : 767px)
  .modal-fixed-header
    .modal-content
      .modal-body
        //margin-top: 56px!important
@media only screen and (min-width : 320px) and (max-width : 767px)
  .wrapword
      white-space: pre-wrap!important

/* fix login alert message for mobile*/
@media only screen and (max-width:992px) {
  #loginPage .mdc-snackbar {
    margin: 0!important
  }
}
/* End: Defect 19373 */

/* Start: 21492 */
.active-thumb
  opacity: 1!important
  border: solid 1px #d8d8d8

/* End: 21492 */

/* Start: 21612 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
  .ipod-d-block
    display:  block!important

/* End: 21612 */

/* Start: 22001 */
.reduce-size
  width: 50px!important
  position: absolute!important
  left: 50%!important
  margin-left: -25px!important

/* End: 22001 */

/* Start: 19754 - Only for Logged in dropdown */
.bs-popover-bottom.align-arrow
  left: auto
  right: 0

/* End: 19754 - Only for Logged in dropdown */

/* Start: 20158 */
.margin-l-2
  margin-left: 2px!important
/* End: 20158 */

/* Start: Defect 22558 */
.o-clp-cards-row_container
  div:nth-child(1)
    .m-figureCard__figure
      a
        .clp-card-loader-img
          justify-self: center
          align-self: center
          display: flex
          width: 100px
          height: 100%
/* End: Defect 22558 */

/* Additional fix for 19852 */
.marginBottom
  margin-bottom: 20px

/* Additional fix for 18594 */
.o-nav-sideBar-blpClp
  .nav-item
    .card-header
      h3
        font-family: 'robotoBold' !important

/* Additional fix for 19392 */
.clear-both
  clear: both

/* Start: Fix for floating-label issue [NIRAV] */
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label.mdc-floating-label--float-above
  font: $body2 !important
/* END: Fix for floating-label issue [NIRAV] */

/* Nirav - fixed issue of menu width for my account */
/*.a-header__topLink
  min-width 90px*/
/* Nirav - end my account menu */

/* Nirav - fixed issue of sticky footer
main .container-fluid
  min-height: calc(100vh - 415px)
 Nirav - end issue of sticky footer issue */


/* Start: Fix for 18967 */
.avoid-scroll-x
  position: relative
/* End: Fix for 18967 */
.o-giftWrap__head__event {
    padding-left: 16px;
    padding-top: 11px;
}
p.a-blockElement.a-blockElement--enphasis {
    //padding-bottom: 7px;
}
p.a-blockElement.a-blockElement--enphasis.ownr {
    //height: 5px;
}
p.a-blockElement.aler {
    padding-top: 17px;
}
.m-product__material,.m-product__texture
  .mdc-select__native-control,.mdc-select--outlined
  	height 36px

.m-product__material,.m-product__texture
  .--noBottom
  	bottom 14px
   height 10px

.m-product__material,.m-product__texture
  .mdc-select__native-control
    padding 6px 15px 10px!important

.checkbox-position
  position relative
  left -17px

.o-whishlist__body
  .o-wishlist__product
    height: auto!important

.m-product__emailShareForm
  .mdc-notched-outline,.mdc-text-field
    height 36px!important
.m-product__emailShareForm
  .mdc-button
   text-transform: initial
   font: 1rem 'robotoRegular'


@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
  .pswp__zoom-wrap .video-slide {
        width: 100%;
        max-width: 400px;
        color: #FFF;
        margin: 50% auto !important;
        text-align: center;
        background: black;
        position:absolute;
        right:25%;
  }
  .blpcarousel .slick-slider .m-card{
  	    width: 120px
				height: 100%
  }

}



@media only screen and (max-width: 992px){
#social-modal .modal-dialog .modal-content{
     border: 0px;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    height: fit-content;
    min-height: 100%;
    top: 0px;
}
.pswp__zoom-wrap .video-slide {
        width: 100%;
        max-width: 400px;
        color: #FFF;
        margin: 10% auto;
        text-align: center;
        background: black;
}
#social-modal .modal-body {
    padding: 1rem !important;
}
}
.m-product__emailShareForm
  .mdc-text-field+.mdc-text-field-helper-line
    padding-right: 16px!important
    padding-left: 16px!important

.m-product__size .-disabled,.productSizeList .-disabled{
    border-color: $timberwolf!important;
		color: $timberwolf!important;
		cursor default!important;
    pointer-events none!important;
  }

.o-whishlist__body
  .o-wishlist__product
    height: auto!important

.o-plp__button
  padding: 1px 6px!important;

@media only screen and (max-width: 991px){
 #social-modal .modal-dialog, #qty-modal .modal-dialog {
    display: flex;
    align-items: center;
 }
 #qty-modal .modal-content {
     border: 0px;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    height: fit-content;
    min-height: 100%;
 }

}

.hybridradio .m-radioButton .mdc-radio
{
  --mdc-ripple-fg-size:24px;
  --mdc-ripple-fg-scale:1.66667;
  --mdc-ripple-left:8px;
  --mdc-ripple-top:8px;
    left: 0!important;
    top: 0!important;
}

@media screen and (max-width:991px){


#Marcas-brands-filter,#Talla-brands-filter,#Precios-brands-filter,#Color-brands-filter,#Rating-brands-filter label{
      /*padding-left: 22px !important;*/
}
#filters-modal .card-body {
    /*padding: 0.8rem 0.4rem 0.8rem 0rem !important;*/
}
}
@media (max-width: 991px) and (min-width: 320px){
  #cart-gr-modal .modal-dialog {
    max-width: 100%!important;
    height: 100%!important;
  }
  p.a-blockElement.a-blockElement--enphasis.s {
   // padding-bottom: 0px!important;
    //margin-bottom: -10px;
  }
  p.a-blockElement.a-blockElement--enphasis {
      //padding-top: 30px;
  }
  p.a-blockElement.a-blockElement--enphasis.ownr {
    height: 24px;
    margin-top: 16px;
  }
  p.a-blockElement.a-blockElement--enphasis.yano {
    margin-top: 15px;
}
p.a-inlineElement.a-inlineElement--giftTableMessage.wap {
    height: auto;
}
  .find-gift {
    height: 100%!important;
  .react-date-picker{
    width:100%
    }
}
.modal-content.gr {
    height: 100%!important;
}
.homepage .card-img-top
{
      width: 100% !important;
      height: 100%;
}
}
#cart-gr-modal .modal-dialog {
    max-width: 568px;
}
#cart-gr-event-modal .modal-dialog {
    max-width: 568px;
}
@media (max-width: 991px) and (min-width: 320px){
 #cart-gr-event-modal .modal-dialog {
    max-width: 100%!important;
  }
  .o-findGiftTable__body {
    height: auto;
  }
}
.SocialMediaShareButton{
  outline none !important
}
.altMessage.emptyMessage {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.altMessage.emptyMessage span {
    font-weight: 500;
}
/* Bug 21439 */
.ocm-link-wishlist {
    float: right;
    margin-right: 4%;
}
p.dss {
    display: inline;
}

/* Bug 20044 Video Responsive */
.pzlcontainerviewer iframe
{   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.a-productColor__item a.atom-color img.maccolorsh
{
  border-radius: 50%
  width: 100%
  height: 100%
  vertical-align: top
  display:block /*fix for bug 23812*/
}

.m-promo-modal-select-tab .availabilityTabs .mdc-tab-scroller__scroll-area
{
      overflow-y: hidden!important;
}

#loading {
		display: none;
}
.loading {
		background: none repeat scroll 0 0 #939393;
		height: 100%;
		left: 0;
		opacity: 0.3;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
}
.preciosWrapper .content {

	 display : block;
    position : fixed;
    z-index: 100;
    background-image : url('/static/images/imageLoading.svg');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}


.m-recentItems {
  border: 1px solid #d8d8d8;
}
.a-recentItems__title {
  position: absolute;
  width: 27%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -28px;
  background-color: #f5f5f5;
}
@media only screen and (max-width: 991px) {
  .m-recentItems {
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-left: 0;
    border-right: 0;
  }
  .carousel-heading {
    text-align: center;
  }
  .a-recentItems__title {
    font-size: 18px;
    width: 100%;
  }
  /* 20903 fix START */
      /* css remove Bug 22324 */
     /* 20903 fix END */
}
@media (min-width: 992px) and (max-width: 1356px) {
  .a-recentItems__title {
    width: 38%;
  }
}
.disablerideo
{
    opacity: 0.3;
    pointer-events: none;
}
.m-myAccount-aside-title--mobile
    background $white
    box-shadow $b-shadow-card
    /* margin-bottom 3px!important Bugid ?? */

    /*bug 20277 Start*/
#loginDetails  .m-plp-compareCheckbox, #checkout_three .m-plp-compareCheckbox, .m-checkout-wrapper .m-plp-compareCheckbox
   display: inline-flex

/*bug 20277 End*/

/* bug 18366 Start */
.m-checkbox__button.mdc-form-field.m-plp-compareCheckbox .mdc-checkbox--selected ~ label
    text-decoration: underline
    color $primary-color

.mdc-checkbox.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 0.12;
}
.modal-content.s {
    height: 564px!important;
}
.modal-content.nonGr {
    height: 210px!important;
}
/* bug 18366 End */


.pzlvideomob
{
	position: relative; left: 0; top: 0;
}
.imagemob
{
		position: relative;
		top: 0;
		left: 0;
}
.pzlvideomob .pzlthumbPlaymob
{
		position: absolute;
		top: 30px;
		left: 0px;
		opacity:.5
}

/* Defect 19935 Start */
footer
  .-checkout
    font $body4
/* Defect 19935 End */

/*bug Fix 20032 */
#delete-modal.modal .modal-dialog .modal-content
{
  height: 245px !important;
}
/*bug Fix 20032 */

/* Bug 18522 Start */
.o-carousel-row {
    margin-top: 0;
    @media screen and (max-width: 991.5px) {
      margin-top: 0;
      padding-bottom: 0;
    }
}
.horizontalSlider___281Ls {
    height: 200px;
    min-height: 1px;
    @media only screen and (max-width: 991px) {
      height: auto;
    }
}
.slideInner___2mfX9 {
    height: auto;
}
.item {
    margin-right: 10px;
    margin-left: 10px;
}
.o-carousel-row .m-card {
    max-width: 100%!important;
    padding: 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
    margin-top: 1px;
    img.card-img-top {
      padding: 0;
    }
}
.owl-theme .owl-nav {
    top: 37%;
    margin: auto!important;
}
.o-carousel-row {
    span.icon-arrow_left {
      font-size: 8px;
      padding-top: 2px;
    }
    span.icon-arrow_right {
      font-size: 8px;
      padding-top: 2px;
    }
}
/* bug 18522 End */


.a-header__bag_large_count span {
    font-size: 10px !important;
    top: 6px !important;
}

.o-carousel .o-carousel-row .owl-dots .carousel__dot--selected span, .o-carousel .o-carousel-row .owl-dots .owl-dot:hover span {
    background: $primary-color;
    }
/* Start 19234 fix  */
.mdc-snackbar__dismiss.mdc-snackbar__dismiss {
    width: 36px!important;
    height: 36px!important;
    padding: 9px!important;
}
.mdc-snackbar__label .a-alert__text {
    margin: auto;
}
/* Start 19234 fix  */

.homepage .slick-next,.homepage .slick-prev
{
  font-size: 20px;
  background: #fff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    transition: all 200ms linear;
    z-index:9999;
}

/* Start 19726 fix */
.a-product__paragraphDiscountPrice sup {
    top: 1em;
    font-size: 0.75rem;
    position: absolute;
}

.a-product__paragraphRegularPrice sup{
    top: 0.75em;
    font-size: 0.75rem;
    position: absolute;
}

/* End 19726 fix  */

/* Start: 19891 fix */
.rating__comments.collections
  font: $overline-module
  color: $lead
  align-items: center
  margin-left: 5px

  & > a
    font: $overline-module
    text-decoration: underline
    color: $lead

/* End: 19891 fix  */

/* Start 20121 fix */
#typeCard.a-cards__descriptionCardBox {
  text-transform: capitalize;
}
/* End 20121 fix  */
.pb-4{
    padding-bottom:2.6rem
}
.closeIconRegister{
  float:right;
}
/* Start 19683 fix */
  .o-clp-secondaryContainer
    @media screen and (max-width: 991.5px)
        padding: 0
/* End 19683 fix */
/* Start 20224 fix */
#preferencesContainer{
      box-shadow: none;
}
/* End 20224 fix */
.containerSmartBanner {
  display: contents
}

/* Start 19335 fix */
.mdc-tab.mdc-tab--active .mdc-tab__text-label, .mdc-tab .mdc-tab__text-label {
    text-transform: none;
}
/*  19335 End */

/* Start 19929 fix */
#secondLastNameFindGiftTable{
  //margin-bottom:-17px;
      //margin-top: 0px;
}
/* End 19929 fix */

/*Start Header padding alignment */
.o-header .o-container__fluid {
    //padding-bottom: 3px
    //padding-top: 4px
}

@media (min-width: 992px) {
  .pb-lg-3, .py-lg-3 {
    padding-bottom: 1rem!important
}
}

@media (min-width: 991px) {
  .m-searchBar .no-gutters {
    margin: 0 -15px
}
}

/*End Header padding alignment */
/* Start 19335 End */


/* Start 19929 fix */
.mibolsa-sticky {
    top: 164px;
    position: sticky;
    position: -webkit-sticky;
}
.-previewList {
    top: 410px;
    position: sticky;
    position: -webkit-sticky;
}
/* End 19929 fix */

/*start 20783 */
.modal.show{
  width: 100%;
  height: 100%;
}
/*End 20783 */
.dropdown-menu
{
  z-index:99999!important
}
/* Scroll visibility testing */
body::-webkit-scrollbar {display: none;}
#filters-modal::-webkit-scrollbar {display: none;}
body {
  overflow-x: hidden;
  font: 1rem 'robotoRegular' !important;
}
.dob-order {
  order:2
}
@media only screen and (max-width: 421px) {
    ::-webkit-scrollbar {
        width: 0!important;
    }
    #promo-modal::-webkit-scrollbar {
        width: 0;
    }
}
/* Scroll visibility testing end */
/*bootstrap custom styles start*/
a:hover {
  color: inherit;
  text-decoration: none;
}
/*bootstrap custom styles end*/
.m-form-ul {
    height: 400px;
}
/* fix 20729 Start*/
#statusPayment{
color: #f00;
}
/* fix 20729 End*/

/* 20811 bug */
.m-plp__filterApplied {
  .plp-head-filter {
    .-btn__cleanDisabled {
      color: #888;
      pointer-events: none;
    }
  }
}
/* 20811 bug end */
.card-body {
  .nav-link.active {
    color $primary-color !important
  }
}

#edd-modal {
  .mdc-tab {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

.o-checkout__stepThree .a-checkout__btnPromotion.noCursor
  cursor: default

.mapBtn-container {
  z-index: 0;
  position: absolute;
  bottom: 14px;
  right: 0px;
  .mapBtn {
    background-color: rgb(225, 0, 152);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px;
    text-align: center;
    padding: 12px;
    width: 222px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: robotoregular;
  }
}

.gm-bundled-control {
  top: 191px;
}

#airTimePopOver .popover .popover-body {
  font: 0.75rem 'robotoRegular';
  padding: 12px;
}

.m-checkCellphone-data__item
    .dropdown-menu
       transform: translate3d(45px, 2px, 0px);

/* 19295 fix START */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* 19295 fix END */

.m-plp__filterSection {
  .plp-filter-options {
    .a-product__sizeActive button{
      background-color $white
      border 1px solid $primary-color
    }
  }
}

.o-checkout__stepThree .a-product__paragraphRegularPrice sup {
    font: 0.625rem 'robotoRegular';
    top: 0.1em;
    position: absolute;
}
.o-checkout__stepThree .a-product__paragraphDiscountPrice sup {
    font: 0.625rem 'robotoRegular';
    position: absolute;
    right: auto;
    top: 0.1em;
}
.modal.show {
    display: block
    align-items: center
   /* background-color: rgba(0, 0, 0, 0.7) 20124,19509,19294,19929: do not add genaric css here */
}
/*Login ¿Olvidaste tu contraseña?*/
.a-login-anchor--forgotPass {
  font: 0.75rem 'robotoRegular';
  text-decoration: underline;
}
.-primary-style.a-login-anchor--forgotPass {
    font: 0.75rem 'robotoRegular';
    text-decoration: underline;
}
/*Login ¿Olvidaste tu contraseña? End*/
/*Iniciar Session Mobile*/
a.a-header__navMobileLink.-primary-style {
    font-size: 1rem;
    font-family: 'robotomedium';
}
/*Iniciar Session Mobile Menu End*/
/* Bug 20076 start */
.o-box.o-myAccount__cellphone {
    box-shadow: none;
}
/* Bug 20076 end */
/*20566*/
m-trackingOrder__figure p.prueba {
    z-index: 1;
    filter: opacity(40%);
    text-align: center;
    background-color: #ccc;
}
/* Bug 21344 start */
.m-product__giftPurchase-container span.a-giftPurchase-btnText.-imageBtn {
    width: 100%;
    margin: 0 0 0 65px;
}
/* Bug 21344 end */
#updatePersonalDataBirthError{
  color:red;
}
.a-checkout__session{
  cursor:pointer;
}

/* PDP IE hacks:start */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .plpclp .item
  {
    display:run-in;
  }
  .plpclp .slick-dots
  {
    text-align:right;
  }

  .slick-slider .m-card .card-img-top
  {
      width: 150px!important
			padding: 0
	}
  section.o-product__detail
  {
    min-height:620px!important;
  }
  section.o-product__detail > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7.5fr 2px 2.5fr;
  grid-template-columns: 7.5fr 2px 2.5fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding: 0;
}
section.o-product__detail > .container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
section.o-product__detail > .container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
section.o-product__detail > .container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
section.o-product__detail > .container main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding: 0;
  height: auto;
}
section.o-product__detail > .container main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
section.o-product__detail > .container main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

  .o-product__collectionDescription {
  width: 100%;
  min-height: 100px;
  height: auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 2px 3fr;
  grid-template-columns: 2fr 3fr 2px 3fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.o-product__collectionDescription > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.o-product__collectionDescription > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.o-product__collectionDescription > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.o-product__collectionDescription > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.o-collection__products .m-collection__products__addItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 2px 3fr;
  grid-template-columns: 2fr 3fr 2px 3fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.o-collection__products .m-collection__products__addItems > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.o-collection__products .m-collection__products__addItems > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.o-collection__products .m-collection__products__addItems > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.o-collection__products .m-collection__products__addItems > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
}


/* PDP IE hacks:End */
.o-box .mdc-snackbar{
  position: relative;
    top: 0;
    margin: 1rem 1.5rem 0.313rem !important;
}

.o-box .m-mdc__snackbarSurface{
  min-width: 320px;
    width: 100%;
    max-width: 100%;
}

@media only screen and (min-width: 992px){
.o-box .mdc-snackbar__label{
      padding-left: 10px;
}
}
.m-table__comparator .table .difference
{
      background: #fde2f4;
}

.o-nav-sideBar-blpClp .nav-item .card-body ul li&.removeBorder {
  border-bottom: none;
}
.blpcarousel .slick-dots
{
  top:-40px;
}
.blpcarousel .slick-list
{
        margin:10px 0 0 0 ;
}

.blpcarousel .slick-slider .m-card
{
  	    width: 160px
				height: 100%
}

/* 19058 START*/
.mdc-chip
  font-size 12px
/* 19058 END*/

/* Erick request Swogo Css addded */
/* .o-product__swogocontent
{
display:none!important;
} */

.o-product__purchase .o-product__swogo {
  box-shadow: none;
  margin-top: 25px;
}
.o-product__purchase .o-product__swogo .swogo-bundle-title {
  font-family: 'robotoRegular';
  margin-bottom: 20px;
  color: #3b3b3b;
  font-size: 14px;
}
.o-product__purchase .o-product__swogo .swogo-title,
.o-product__purchase .o-product__swogo .swogo-total-label {
  font-family: 'robotoRegular';
  color: #666;
  display: block;
  font-size: 14px;
}

.o-product__purchase .o-product__swogo .swogo-price,
.o-product__purchase .o-product__swogo .swogo-total-price {
  font-size: 14px;
}

.o-product__purchase .swogo-add-to-cart-btn {
  font-size: 0.875rem !important;
  }
.o-product__purchase .swogo-scroll-to-pdp {
  font-family: 'robotoLight';
  font-size: 12px;
  display: block;
  padding-top: 16px;
  text-decoration: underline;
}



/* Erick request Swogo Css addded:END */

/*21706*/
.a-checkout__btnPromotion{
   height: auto!important;
}
.a-checkout__btnPromotion span{
  padding:4px;
}
/*end of 21706*/

/* Bug 21703 Start Checkout alterts
.m-alert__container.mdc-snackbar.-warning.mdc-snackbar--open,
.m-alert__container.mdc-snackbar.-alertCheckout.-step1.-warning.mdc-snackbar--open {
    top: 68px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .m-alert__container.mdc-snackbar.-alertCheckout.-step1.-warning.mdc-snackbar--open {
    position: sticky;
  }
}
*/


@media only screen and (min-width: 992px){
  .shipping-alert.m-alert__container.mdc-snackbar.-alertCheckout.-step1.-warning > div{
     max-width: 910px;
     width: 100%;
  }
}


/* Bug 21703 Start Checkout alterts end */

@media only screen and (max-width: 420px) {
  //.-alertCheckout.-step1.-warning.mdc-snackbar--open {
  //  position: sticky;
  //}
  .blpcarousel .slick-slider .m-card{
  	    width: 120px
				height: 100%
  }
}


/* 20209 Start*/

.o-checkout__stepThree .a-checkout_promoList {
    border: 1px solid #d8d8d8;
    margin: 0;
    max-height: 400px;
    overflow: auto;
    padding: 0;
}

.a-checkout_promoListElement a
  color #333

/*20209 End*/
/* 19991 Start */
.o-giftWrap.-show .o-giftWrap__backPanelMyBag .o-giftWrap__body .o-giftWrap__items .a-blockElement.a-blockElement--enphasis {
    padding-top: 30px;
}
.m-optionsColorWrap {
    width: 50%;
    padding-left: 64px;
    padding-top: 20px;
}
/* 19991 End */
#disableFieldInvoice {
  pointer-events: none;
  padding-bottom: 1rem !important;
  margin-bottom: 4px;
}
#disableFieldInvoice #helper-rfcPerson1{
  color:gray;
  display:none;
}
#disableFieldInvoice .mdc-notched-outline{
  color:gray !important;
}

.o-checkout__stepThree .a-checkout_promoList {
    border: 1px solid #d8d8d8;
    margin: 0;
    max-height: 400px;
    overflow: auto;
    padding: 0;
}

.o-checkout__stepThree .modal-body{
  padding: 1rem !important;
  }

  @media only screen and (min-width: 992px){
    #carousalImage {
      width: 235px;
      height: 235px;
    }
  }
.sortBy
{
color: inherit;
text-decoration: none;
}
/*21664 start*/
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
  color $header-color
}
/*21664 End*/
/*19857,19984 start*/
.mdc-form-field
  padding 0
/*19984 END*/
@media only screen and (max-width:992px)
          div.m-checkCellphone-data__item:last-child
            border-bottom: solid 1px $gray-lighter
            margin-bottom: 0px


/*19857 End*/

/* Start: 22044 (alert in Cart Page) */

.cart-alert-top
  position: relative
.cart-alert-top
  .mdc-snackbar
    top: -8px


/* End: 22044 (alert in Cart Page) */

/*19915 Start*/
.o-giftWrap__options select
  font $overline-module
/*19915 End*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
  .airTimeHide
    display: none

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  .airTimeHide
    display: none

/* 21596 start */
.a-checkout__labelOptions{
  font-family: 'robotoregular';
  font-size: 1rem;
}

/* 21596 end */



#carousalImage {
  width: 235px;
  height: 235px;
}
#disableFieldInvoice #rfcuser{
color: lightgray;
}
#invoiceTitle {
    width: 300px;
    height: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--carbon);
        margin-left: 15px;
    }
    #invoiceTermsAndConditions {
      text-decoration:none;
      color:#e10098;
    }
    #BoxTitleMobile h2{
   width: 227px;
  height: 19px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--carbon);
  margin-left: -13px;
    }

.m-header__searchLinkResult {
  .typeahead-link {
    padding: 10px 0;
  }
}

/* 23121 start */
.m-checkout__promotionsWrapper {
   background: #fff;
}
/* 23121 end */

.m-header__searchLinkResult {
  .showWhiteSpace {
    white-space: pre;
  }
}

.m-marketplace__sendMessage {
  .a-marketplace__deliverTitle {
    margin-left: 4px;
  }
}

.a-digital-clarification {
  font: 0.875rem 'latoregular';
  margin: 0 0 35px;
  width: 630px;
}
@media screen and (max-width: 991.5px) {
  .a-digital-clarification {
    font: 0.75rem 'latoregular';
    width: 100%;
  }
}
.pdpthumb {height:auto!important}
#cart-gr-event-modal
    background $snow

/* Start: Defect 24193. Collection page - after removing ratings accordian, to show bottom line seperator. */
.isFromCollectionPage
  div:last-child
    div
      border-bottom: 1px solid rgba(0, 0, 0, 0.125)
/* End: Collection page - after removing ratings accordian, to show bottom line seperator. */

/*22934 fixes start*/

@media (min-width: 992px) {
  .dropleft .dropdown-menu.step1AddressOptions{
    margin-right: -30px;
  }
}
@media (min-width: 1100px) {
  .dropleft .dropdown-menu.step1AddressOptions{
    margin-right: -40px;
  }
}
@media (min-width: 1300px) {
  .dropleft .dropdown-menu.step1AddressOptions{
    margin-right: -50px;
  }
}
@media (max-width: 992px) {
  .dropleft .dropdown-menu.step1AddressOptions{
    margin-right: -50px;
  }
}
@media (max-width: 800px) {
  .dropleft .dropdown-menu.step1AddressOptions{
    margin-right: -40px;
  }
}
@media (max-width: 690px) {
  .dropleft .dropdown-menu.step1AddressOptions{
    margin-right: -30px;
  }
}
@media (max-width: 600px) {
  .dropleft .dropdown-menu.step1AddressOptions{
    margin-right: -20px;
  }
}
@media (max-width: 400px) {
  .dropleft .dropdown-menu.step1AddressOptions{
    margin-right: -12px;
  }
}

/*22934 fixes end*/

@media (min-width: 1280px)
  .gr
    .modal-header {
       padding: 13px 17px 10px 17px;
}

#updatePersonalDataBirthError
  padding-bottom 16px

#specs-modal .modal-dialog
  height auto

/* 22286 fix start */
#case1 p.a-box__requiredMessage {
    visibility: hidden;
}
/* 22286 fix end */
@media (min-width: 992px) {
  .overFlowOnlyInMobile{
    overflow-y: hidden;
  }
}


