// --------------- ROBOTO

@font-face
  font-family 'robotobold'
  src url('/static/fonts/roboto/roboto-bold-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-bold-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotobold_italic'
  src url('/static/fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-bolditalic-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotoitalic'
  src url('/static/fonts/roboto/roboto-italic-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-italic-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotolight'
  src url('/static/fonts/roboto/roboto-light-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-light-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotolight_italic'
  src url('/static/fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotomedium'
  src url('/static/fonts/roboto/roboto-medium-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-medium-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotomedium_italic'
  src url('/static/fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-mediumitalic-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotoregular'
  src url('/static/fonts/roboto/roboto-regular-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-regular-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

// --------------- ARIAL

@font-face
  font-family 'arialregular'
  src url('/static/fonts/Arial/Arial Regular/arial-webfont.woff') format('woff'),
    url('/static/fonts/Arial/Arial Regular/arial-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'arialbold'
  src url('/static/fonts/Arial/Arial Bold/arial_bold-webfont.woff') format('woff'),
    url('/static/fonts/Arial/Arial Bold/arial_bold-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'ariallight'
  src url('/static/fonts/Arial/Arial Regular/arial-webfont.woff') format('woff'),
    url('/static/fonts/Arial/Arial Regular/arial-webfont.ttf') format('truetype')
  font-weight lighter
  font-style normal

@font-face
  font-family 'arialmedium'
  src url('/static/fonts/Arial/Arial Regular/arial-webfont.woff') format('woff'),
    url('/static/fonts/Arial/Arial Regular/arial-webfont.ttf') format('truetype')
  font-weight 500
  font-style normal

// --------------- GEORGIA

@font-face
  font-family 'georgia'
  src url('/static/fonts/Georgia/Regular/Georgia.woff') format('woff'),
    url('/static/fonts/Georgia/Regular/Georgia.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'georgiabold'
  src url('/static/fonts/Georgia/Bold/Georgia.woff') format('woff'),
    url('/static/fonts/Georgia/Bold/Georgia.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'georgialight'
  src url('/static/fonts/Georgia/Regular/Georgia.woff') format('woff'),
    url('/static/fonts/Georgia/Regular/Georgia.ttf') format('truetype')
  font-weight lighter
  font-style normal

@font-face
  font-family 'georgiamedium'
  src url('/static/fonts/Georgia/Regular/Georgia.woff') format('woff'),
    url('/static/fonts/Georgia/Regular/Georgia.ttf') format('truetype')
  font-weight 500
  font-style normal

// --------------- LATO

@font-face
  font-family 'latoregular'
  src url('/static/fonts/Lato/Lato woff/Lato-Regular.woff') format('woff'),
    url('/static/fonts/Lato/Lato ttf/Lato-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'latobold'
  src url('/static/fonts/Lato/Lato woff/Lato-Bold.woff') format('woff'),
    url('/static/fonts/Lato/Lato ttf/Lato-Bold.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'latomedium'
  src url('/static/fonts/Lato/Lato woff/Lato-Medium.woff') format('woff'),
    url('/static/fonts/Lato/Lato ttf/Lato-Medium.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'latolight'
  src url('/static/fonts/Lato/Lato woff/Lato-Light.woff') format('woff'),
    url('/static/fonts/Lato/Lato ttf/Lato-Light.ttf') format('truetype')
  font-weight normal
  font-style normal

// --------------- FLAMA

@font-face
  font-family 'flamaregular'
  src url('/static/fonts/Flama/Flama woff/Flama-Basic.woff') format('woff'),
    url('/static/fonts/Flama/Flama ttf/Flama-Basic.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'flamabold'
  src url('/static/fonts/Flama/Flama woff/Flama-Bold.woff') format('woff'),
    url('/static/fonts/Flama/Flama ttf/Flama-Bold.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'flamamedium'
  src url('/static/fonts/Flama/Flama woff/Flama-Medium.woff') format('woff'),
    url('/static/fonts/Flama/Flama ttf/Flama-Medium.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'flamalight'
  src url('/static/fonts/Flama/Flama woff/Flama-Light.woff') format('woff'),
    url('/static/fonts/Flama/Flama ttf/Flama-Light.ttf') format('truetype')
  font-weight normal
  font-style normal

// --------------- GOTHAM

@font-face
  font-family 'gothamregular'
  src url('/static/fonts/Gotham/Gotham woff/GothamHTF-Book.woff') format('woff'),
    url('/static/fonts/Gotham/Gotham ttf/GothamHTF-Book.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'gothambold'
  src url('/static/fonts/Gotham/Gotham woff/GothamHTF-Bold.woff') format('woff'),
    url('/static/fonts/Gotham/Gotham ttf/GothamHTF-Bold.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'gothammedium'
  src url('/static/fonts/Gotham/Gotham woff/GothamHTF-Medium.woff') format('woff'),
    url('/static/fonts/Gotham/Gotham ttf/GothamHTF-Medium.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'gothamlight'
  src url('/static/fonts/Gotham/Gotham woff/GothamHTF-Light.woff') format('woff'),
    url('/static/fonts/Gotham/Gotham ttf/GothamHTF-Light.ttf') format('truetype')
  font-weight normal
  font-style normal

// --------------- TREBUCHET

@font-face
  font-family 'trebuchet'
  src url('/static/fonts/Trebuchet MS/Regular/TrebuchetMS.woff') format('woff'),
    url('/static/fonts/Trebuchet MS/Regular/TrebuchetMS.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'trebuchetbold'
  src url('/static/fonts/Trebuchet MS/Bold/TrebuchetMS-Bold.woff') format('woff'),
    url('/static/fonts/Trebuchet MS/Bold/TrebuchetMS-Bold.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'trebuchetlight'
  src url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.woff') format('woff'),
    url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.ttf') format('truetype')
  font-weight lighter
  font-style normal

@font-face
  font-family 'trebuchetmedium'
  src url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.woff') format('woff'),
    url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.ttf') format('truetype')
  font-weight 500
  font-style normal

// --------------- TIMES NEW ROMAN

@font-face
  font-family 'timesregular'
  src url('/static/fonts/Times New Roman/Regular/TimesNewRomanPSMT.woff') format('woff'),
    url('/static/fonts/Times New Roman/Regular/TimesNewRomanPSMT.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'timesbold'
  src url('/static/fonts/Times New Roman/Bold/TimesNewRomanPS-BoldMT.woff') format('woff'),
    url('/static/fonts/Times New Roman/Bold/TimesNewRomanPS-BoldMT.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'timeslight'
  src url('/static/fonts/Times New Roman/Regular/TimesNewRomanPSMT.woff') format('woff'),
    url('/static/fonts/Times New Roman/Regular/TimesNewRomanPSMT.ttf') format('truetype')
  font-weight lighter
  font-style normal

@font-face
  font-family 'timesmedium'
  src url('/static/fonts/Times New Roman/Regular/TimesNewRomanPSMT.woff') format('woff'),
    url('/static/fonts/Times New Roman/Regular/TimesNewRomanPSMT.ttf') format('truetype')
  font-weight 500
  font-style normal

// --------------- CENTURY GOTHIC

@font-face
  font-family 'centuryregular'
  src url('/static/fonts/Century Gothic/Century Gothic woff/CenturyGothic.woff') format('woff'),
    url('/static/fonts/Century Gothic/Century Gothic ttf/GOTHIC.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'centurybold'
  src url('/static/fonts/Century Gothic/Century Gothic woff/CenturyGothic-Bold.woff') format('woff'),
    url('/static/fonts/Century Gothic/Century Gothic ttf/GOTHICB.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'centurylight'
  src url('/static/fonts/Century Gothic/Century Gothic woff/CenturyGothic.woff') format('woff'),
    url('/static/fonts/Century Gothic/Century Gothic ttf/GOTHIC.ttf') format('truetype')
  font-weight lighter
  font-style normal

@font-face
  font-family 'centurymedium'
  src url('/static/fonts/Century Gothic/Century Gothic woff/CenturyGothic.woff') format('woff'),
    url('/static/fonts/Century Gothic/Century Gothic ttf/GOTHIC.ttf') format('truetype')
  font-weight 500
  font-style normal

// Custom Products functionality START

@font-face
  font-family 'american'
  src url('/static/fonts/botas/AmericanTypewriterRegular.woff') format('woff'),
    url('/static/fonts/botas/AmericanTypewriterRegular.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'ballantines'
  src url('/static/fonts/botas/BallantinesSerialLightRegular.woff') format('woff'),
    url('/static/fonts/botas/BallantinesSerialLightRegular.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'graffiti'
  src url('/static/fonts/botas/DesignGraffitiKids.woff') format('woff'),
    url('/static/fonts/botas/DesignGraffitiKids.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'garamondFont'
  src url('/static/fonts/botas/GaramondRegular.woff') format('woff'),
    url('/static/fonts/botas/GaramondRegular.ttf') format('truetype')
  font-weight 400
  font-style normal

// Custom Products functionality END