// - global

@import 'mixins.styl'
@import 'icons.styl'
@import 'fonts.styl'


@import 'colors.styl'
@import 'fonts.styl'
@import 'header.styl'
@import 'footer.styl'
@import 'home.styl'
@import 'modals.styl'
@import 'custom.styl'
@import 'animations.styl'

//@import '../../components/atoms/**/*'
//@import '../../components/molecules/**/*'
//@import '../../components/organism/**/*'
//@import '../../components/templates/**/*'
