$header-color = #eee
$primary-color       = #80B9E6
$primary-color-hover = #6394BF
$checkoutStepBarColor = $gray
$checkoutStepTextColor = $lead
$checkoutProgressColor= #80B9E6
$checkoutHeaderConfirmation = $silver
$pale-pink           = #99CFFF
$search-box = #d8d8d8
$regular = 'arialregular'
$light   = 'ariallight'
$medium  = 'arialmedium'
$bold    = 'arialtbold'
$bag = #80B9E6
$bag-items = #fff
$font2   = 'georgiaregular'
$font2   = 'centuryregular' 
$a-topLink-color = #333333
$mobile-color = $lead
$sprite = '/static/images/atomo-tt-potterybarnkids-pwa.svg';
@import 'CommonVariables.styl';