$primary-color = #e10098
$header-color = #e10098
$primary-color-hover = #c20083
$checkoutStepBarColor = #fff
$checkoutProgressColor= #fff
$checkoutStepTextColor = #fff
$checkoutHeaderConfirmation = #e10098
$pale-pink= #ff87d8
$search-box = #e10098
$regular = $font2 = 'robotoRegular'
$light   = 'robotoLight'
$medium  = 'robotoMedium'
$bold    = 'robotoBold'
$bag = #fff
$bag-items = #e10098
$siva-brand-color = #000000 
$sprite = '/static/images/atomo-tt-liverpool-pwa.svg';
$a-topLink-color = #ffffff
$mobile-color = $white

@import 'CommonVariables.styl';