$header-color = #eee
$primary-color       = #990000
$primary-color-hover = #730000
$checkoutStepBarColor = $gray
$checkoutStepTextColor = $lead
$checkoutProgressColor= #990000
$checkoutHeaderConfirmation = $silver
$pale-pink           = #c59999
$search-box = #d8d8d8
$regular = 'latoregular'
$light   = 'latolight'
//$medium  = 'latomedium'
$bold    = $medium  = 'latobold'
$bag = #990000
$bag-items = #fff
$font2   = 'centuryregular'
$a-topLink-color = #333333
$mobile-color = $lead
$sprite = '/static/images/atomo-tt-potterybarn-pwa.svg';
@import 'CommonVariables.styl';