$header-color = #eee
$primary-color       = #165388
$primary-color-hover = #103E66
$checkoutStepBarColor = $gray
$checkoutStepTextColor = $lead
$checkoutProgressColor= #165388
$checkoutHeaderConfirmation = $silver
$pale-pink           = #4192D9
$search-box = #d8d8d8
$regular = 'arialregular'
$light   = 'ariallight'
$medium  = 'arialmedium'
$bold    = 'arialtbold'
$bag = #165388
$bag-items = #fff
$font2   = 'trebuchet'
$a-topLink-color = #333333
$mobile-color = $lead
$sprite = '/static/images/atomo-tt-potterybarnteens-pwa.svg';
@import 'CommonVariables.styl';