$header-color = #eee
$primary-color       = #E81818
$primary-color-hover = #BF1313
$checkoutStepBarColor = $gray
$checkoutStepTextColor = $lead
$checkoutProgressColor= #E81818
$checkoutHeaderConfirmation = $silver
$pale-pink           = #E87474
$search-box = #d8d8d8
$regular = 'flamaregular'
$light   = 'flamalight'
$medium  = 'flamamedium'
$bold    = 'flamabold'
$bag = #E81818
$bag-items = #fff
$font2   = 'timesregular'
$mobile-color = $lead
$a-topLink-color = #333333 
 
$sprite = '/static/images/atomo-tt-williamssonoma-pwa.svg';
@import 'CommonVariables.styl';