.m-miniBag__itemCount
  color: $color-tertiary
  font-size: 14px
  text-align: center
  position: absolute
  margin: auto
  left: 0
  right: 0
  top: 25px

.m-miniBag
  font-size: 30px
  padding: 13px
  position: relative
  align-self(flex-end)
  flex-grow(0)