.t-background-color
    background-color $background-color
.a-title-section, .a-title-section-mobile
    font $title5-discount
    color $carbon
    
/* .blb
    background-color black
    color white
    font-size 24px
    text-align center
    margin auto
    width 90%
    min-height 200px */

.a-title-section-mobile
    background-color $white
    width 100%

.o-carousel.blpcarousel
    margin: 0
    @media screen and (max-width: 991.5px)
        display: none

.blpcarousel .slick-slider .m-card
    width: 160px
    height: 230px