.m-alert__text
	font-family: 0.875rem 'robotoRegular'
	font-size: 13px;
	border-radius: 10px
	padding: 5px 10px
	display: none
.m-alert__text.show
	display: block
.m-alert__text.error
	color: #f00
	background-color: #f9efef
.m-alert__text.success
	color: #01a02f
	background-color: #e1ffe3