.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background
  background-color $lead
  border-color $lead!important
.mdc-checkbox__background::before
  background-color $lead
.mdc-checkbox::before, .mdc-checkbox::after
  background-color $lead
.mdc-checkbox.mdc-checkbox--upgraded.mdc-ripple-upgraded.mdc-ripple-upgraded--unbounded .mdc-checkbox__background
    animation none
    border 1px solid $gray
.mdc-form-field .mdc-checkbox ~ label
  font $caption
  margin-bottom 0
.mdc-checkbox__background
  svg
    padding 3px
.mdc-component__cards
    .mdc-card
        background-color $white
        height 316px
        width 262px