.--bottomGrayLine
    border-bottom solid 1px #d8d8d8
.--topGrayLine
    border-top solid 1px #d8d8d8

.o-tracking__addressInfo
    margin-top 12px


.o-tracking__addressValue
    margin-top -8px

.a-tracking__classIcon
    margin-left 6px
    font-size 11px
.a-tracking__arrowdetail
    font-size 12px

@media only screen and (min-width: 992px)
    .m-tracking__buyInfo
        align-items flex-start
        width 100%
        margin-top 17px
        margin-left 22px
        margin-bottom 17px

@media only screen and (max-width: 991px)
    .m-tracking__buyInfo
        align-items flex-start
        width 100%
        margin-top 17px
        margin-left 7px
        margin-bottom 17px
