.o-trackingRatings__company
    mixin-font($title6-popup,$carbon)
    padding-left 20px
    text-align center

.o-trackingRatings__company--mobile
    mixin-font($title6-popup,$carbon)
    text-align center

.o-trackingRatings__evaluatedCompany--mobile
    mixin-font($title6-popup,$carbon)
    text-align center
    margin-bottom 25px
.o-trackingRatings__required
    mixin-font($body2,$red)
    position absolute
    right 33px

.o-trackingRatings__required--mobile
    mixin-font($body2,$red)
    right 33px
    margin-top 10px
.o-trackingRatings__infoSeller
    mixin-font($caption,$primary-color)
    margin-top 12px
    padding-left 20px
    text-decoration underline

.o-trackingRatings__container
    padding-top 26px
.o-trackingRatings__container--mobile
    padding-top 26px
.o-trackingRatings__divRow--mobile
    align-items center
    justify-content center
    display flex
    margin-bottom 20px

.o-trackingRatings__requiredIcon
    mixin-font($body2,$red)
    padding-left 20px
    margin-top 15px

.o-trackingRatings__requiredIcon--mobile
    mixin-font($body2,$red)
    padding-left 20px
    margin-top 35px
    margin-right 5px
.o-trackingRatings__evaluate
    mixin-font($body1,$carbon)
    margin-right 17px
    margin-top 15px

.o-trackingRatings__evaluate--mobile
    mixin-font($body1,$carbon)
    margin-top 35px
.o-trackingRatings__evaluateRow
    margin-top 47px
.o-trackingRatings__evaluateRow--mobile
    margin-top 1px
.o-trackingRatings__evaluatedRow
    margin-top 12px

.o-trackingRatings__stars
    font-size 26px
.o-trackingRatings__stars--mobile
    font-size 32px
.o-trackingRatings__btn
    justify-content flex-end
.o-trackingRatings__textfield
    padding: 20px;

.o-trackingRatings__stars--evaluated
    padding-left 20px

.o-trackingRatings__evaluatedText
    mixin-font($body1,$carbon)
    margin-top 10px
    margin-bottom 20px

.o-trackingRatings__evaluatedCompany
    mixin-font($title6-popup,$carbon)
    padding-left 20px

.o-trackingRatings__evaluatedContainer
    padding-top 32px

.m-tracking__ratingTextarea
    resize none
.o-trackingRatings__box
    transition: all 200ms linear
    box-shadow: $b-shadow-card
    color: $carbon
    border: none
    border-radius(7)
.o-trackingRatings__box--mobile
    transition: all 200ms linear
    box-shadow: $b-shadow-card
    color: $carbon
    border: none
    border-radius(7)
    margin-top 30px
    margin-bottom 29px
.o-trackingRatings__evaluateStars--mobile
    margin-left 15px
    margin-top 10px
.o-trackingRatings_divMandatory
    display flex
    justify-content flex-end