.o-myAccount-aside
    margin-bottom 114px
    .m-product__giftPurchase-container.-small
        box-shadow: $b-shadow-card
        padding-bottom: 0px
        .a-btn--action
            background: $white
            color: $carbon
            border: none
            border-radius: 0px
            font $title7
            padding-left: 28px
            height 50px
            border-radius: 4px
            h2
                font $title7
                margin: 0 0 0 24px

.m-myAccount-aside-title--mobile
    background $white
    box-shadow $b-shadow-card
    margin-bottom 24px
    h1
        font $title6
        color $carbon
        margin: 14px 0
.a-myAccount-aside--title 
    font: 1.375rem 'robotoMedium';
    color: #333;
    margin-bottom: 22px;

.o-storeLocator-aside
    background $white
    box-shadow: $b-shadow-card
    padding: 12px
    border-radius: 4px
    .a-storeLocator-aside__search
        margin-top: 5px
    .a-storeLocator-aside__title
        font $body2
        color: $carbon
    .mdc-select-helper-text, .mdc-select-helper-line
        display: none
    .mdc-select.mdc-select--outlined
        margin-top: 20px
    .m-list-scrollable
        margin-top: 20px
.-storeLocator
    box-shadow: $b-shadow-card !important
.a-storeLocator-aside__search ~ .input-group-append
    border-left: solid 1px $gray-darker
    margin-left: 0px
    margin-top: 5px
    margin-bottom: 5px
.m-product__giftPurchase-container i 
    font: 0.7rem 'robotoRegular';

