.a-product__paragraphCode, .a-product__paragraphQtyLabel, .a-product__eddModalCode, .a-product__paragraphQtyLabel
  mixin-font($overline,$carbon)
.a-product__paragraphRegularPrice
  mixin-font($body1,$lead)
  padding-right 24px
  position relative
  text-decoration line-through
  sup
		top .6em
    font-size 0.75rem
    position absolute
    //right 15%
  span
    position absolute
    right 4px
.a-product_siva_paragraphRegularPrice
  mixin-font($body1,$carbon)
  padding-right 24px
  position relative
  text-decoration line-through
  sup
    top 0.6em
    font-size 0.75rem
    position absolute
    right 15%
  span
    position absolute
    right 4px
.a-product__paragraphDiscountPrice
  mixin-font($title4,red)
  padding-right 24px
  position relative
  width auto

  sup
		top 0.6em
    font-size 0.75rem
    right -1%
  span
    position absolute
    right 4px
.a-product_siva_paragraphDiscountPrice
  mixin-font($title4,carbon)
  padding-right 10px
  position relative
  sup
    top -.7em
    font-size 0.75rem
    right -1%
  span
    position absolute
		right 4px
.a-product__paragraphColor
  mixin-font($overline-module,$lead)
  letter-spacing 0.5px
.a-product__paragraphSize
	mixin-font($overline, $lead)
.a-product__paragraphSizeLast
  mixin-font($body3,red)
.a-product__eddModalDiscountPrice
  mixin-font($body1, red)
  padding-right 10px
  position relative
  sup
    top -.4em
    font-size 0.65rem
    right -2px
  span
    position absolute
    right 5px
.a-product__eddModalRegularPrice
  mixin-font($body1, $lead)
  text-decoration line-through
  padding-right 24px
  position relative
  sup
    top 0.8em
    font-size 0.65rem
    position absolute
    right 15%
  span
    position absolute
    right 4px
.a-product__paragraphProductDescriptionTab
  mixin-font($body2, $black-with-opacity)
.a-product__paragraphAddress
  mixin-font($caption,$carbon)
  margin 12px 0 16px
.a-product__paragraphAddressList
  mixin-font($body2,$carbon)
.m-product__eddAddress
	.a-product__paragraphAddress
		padding-top 12px
	#CP
		text-align: left
.a-product__paragraphClickAndCollect
  mixin-font($body2,$carbon)
.a-product__paragraphClickAndCollectCity, .a-product__paragraphClickAndCollectSelected
  mixin-font($overline, $black-with-opacity)
.a-product__paragraphClickAndCollectSelected
  color black
  margin-bottom 15px
.a-product__paragraphClickAndCollectNotAvailable
  background #f9f9f9
  padding 50px 0
  text-align center
  mixin-font($body2,black)
  margin 0
.a-product__paragraphitrSelectStates
  mixin-font($body2,$carbon)
  padding-left 15px
.a-product__paragraphProductDescription, .a-product__paragraphProductSpecs, .a-product__paragraphProductPromo, .a-product__paragraphProductPolitics
  color rgba(0,0,0,0.87)
  font-size 0.875rem
  line-height normal
  &.a-product__spec
    font-family 'robotoBold'
  .a-product__productPromoDescription
    font-family 'robotoregular'
    span
      font-family 'robotoBold'
.a-product__paragraphEmail
  mixin-font($overline, #666)
  margin-top -15px
.a-product__paragraphEmailShareContent
  mixin-font($caption, rgba(0, 0, 0, 0.6))
.a-product__paragraphProductDescriptionWeb
  mixin-font($overline, $lead)
  margin-top: 16px
.a-product__paragraphProductDescriptionContentWeb {
    font: 0.875rem 'robotoLight';
    color: #666;
    line-height: 18px;
    width: 90%;
}
.a-product__paragraphProductDownloadable
  mixin-font($overline, $lead)
.a-productInfo_selledBy
  mixin-font($body2, $lead)
  text-align center
.a-vendors__title
  margin-bottom 0
  mixin-font($body2, $carbon)
  text-align center
.a-marketplace__vendorName
  mixin-font($title5, $carbon)
  margin-bottom .5rem
.a-marketplace__vendorSince
  mixin-font($overline, $carbon)
.a-marketplace__deliverTitle
  mixin-font($caption, $carbon)
.a-marketplace__aboutTitle
  mixin-font($body1-section, $carbon)
.a-marketplace__aboutDesc
  mixin-font($body2, $lead)
.a-marketplace__opinionsTitle
  border-bottom 1px solid $gray
  mixin-font($title6-slot, $carbon)
  padding-bottom .8rem
.a-marketplace__opinionTitle
  margin-bottom .5rem
  mixin-font($body1,$carbon)
.a-marketplace__opinionBy
  margin-bottom .4rem
  mixin-font($body2,$lead)
.a-marketplace__userOpinion
  margin-bottom 1.2rem
  mixin-font($body2,$carbon)
.a-giftRegistry_qntProduct
  margin-bottom 0
  mixin-font($body1-description,$lead)
.a-giftRegistry__price
  mixin-font($body1,$red)
.a-giftRegistry__titleSelect, .a-giftRegistry__preferencesTitle
  margin-bottom .5rem
  mixin-font($body2,$carbon)
.a-giftRegistry__titleSelect
  margin-bottom 1.5rem
.a-plp__paragraphregularPrice p
  mixin-font($caption,$lead)
  text-decoration line-through
  margin-top 1em
  margin-bottom .3em
.a-plp__paragraphdiscountPrice p
  mixin-font($body1,red)
  margin 0
.a-title__searchPLP
  mixin-font($title6-popup, $lead)
.a-title__searchAdvice, .a-title__help
  mixin-font($body4, $lead)
.a-subtitle__searchAdvice, .a-subtitle__help
  mixin-font($body1, $lead)
.a-paragraph__compareDescription
  line-height 19px
  margin-bottom 0
  mixin-font($body2, $carbon)
.a-paragraph__compareTitle
  mixin-font($title6,$carbon)
  margin-bottom 0
.compareColor
	background $pale-pink
.a-plp-results-title
  color $carbon
  line-height 1.4
  margin-bottom 0
  span
		font $title7
.a-paragraph__alertFilters
  mixin-font($body3, $lead)
	font $body1-description
  padding 0 2em
  text-align center

//- header
.a-search-suggestion-title
	font $caption
	color #000
	width 100%
	display -webkit-box
	-webkit-line-clamp 3
	-webkit-box-orient vertical
	overflow hidden
	text-overflow ellipsis
	padding 0 0 10px 0
	min-height 50px
	max-height 50px
	span
		color: $primary-color

//checkout
.a-checkout__headingTitle
  margin-bottom 0
  mixin-font($body2,$carbon)
.a-checkout__headingDeliveryTitle
  margin-bottom 0
  mixin-font($body1,$carbon)
.a-checkout__headingDeliveryDesc
  margin-bottom 0
  mixin-font($caption,$carbon)
.a-checkout__titleProduct
  margin-bottom .5rem
  &.--bundleProduct
    margin-bottom 0
  mixin-font($body1,$carbon)
.a-checkout__labelPromotion.-mandatory
	color $red
.a-checkout__labelPromotion
	margin-bottom 0.2rem
	mixin-font($body2,$carbon)
.a-checkout__descriptionProduct
  margin-bottom 0
  mixin-font($overline,$carbon)
  &.--bundleProduct
    margin-bottom 0.5rem
.a-checkoutBox__subtitle
	mixin-font($body2-title,$carbon)
	&.--storePickup
		display inline-block
.a-checkoutBox__description
  margin-bottom .3rem
  mixin-font($caption,$carbon)
  &.--alertMessage
    color $tangerine
.a-checkout__secureTitle
  margin-bottom 0
  mixin-font($body2,$carbon)
  i
    margin-right 5px
.a-checkout__eddTitle
  margin-bottom 0
  mixin-font($caption,$carbon)
.a-checkout__eddDescription
  font $body2
  margin-bottom 0
  &.--success
    color $lime-green
  &.--pending
    color $tangerine
.a-checkout__bundleContentTitle
	margin-bottom 0
	margin-top 1em
	mixin-font($overline-module,$carbon)
.a-checkout__qntyGift
	border 1px solid $gray89
	border-radius 4px
	padding 9px
	text-align center
.a-paragraph__quantity
  mixin-font($overline,$carbon)
  margin-top 13px
  margin-bottom -15px
.a-checkout__important
  color $red
  font $body2
//checkout
.a-box__requiredMessage
  font $caption
  color $red
  margin 0
  text-align right
.a-checkout__termsAndConditions
  color $carbon
  font $caption
  margin 0 !important
.a-modal__bodyText
  color $carbon
  font $body2
.a-checkout__phoneText
  font $body2
  color $carbon
  text-align right
.a-checkout__headingFace
  font $title4
  color $carbon
.a-box__cardTitle
  font $body1-section
  color $carbon
.a-box__cardNumber
  font $body2
  color $lead
.a-box__legal
  font $overline-module
  color $lead
.a-checkout__titleSection
  font $title6
  color $carbon
.a-checkout__reminder
  font $caption
  color $carbon
.a-cards__titleCardBox
  margin-bottom 0
  mixin-font($overline-module,$carbon)
.a-cards__descriptionCardBox
  mixin-font($body2,$carbon)
.a-account__cardInfoEmpty
  margin-bottom 0
  mixin-font($title6,$carbon)
  padding 3rem 0
  text-align center
.a-delete__message
  mixin-font($body2,$carbon)
  margin-bottom 2rem
  margin-top 1rem
  text-align center
.a-mycards__termsText
  margin-bottom 2rem
  mixin-font($caption,$carbon)
.a-card__chanel
  mixin-font($caption,$gray)
@media only screen and (max-width: 991px)
  .a-plp__paragraphdiscountPrice p
    font-size .875em
  .a-plp__paragraphregularPrice p
    font-size .625em
  .a-checkout__secureTitle
    text-align center
  .a-checkout__eddDescription
    font $caption
  //checkout
  .a-checkout__termsAndConditions
    font $caption
  .a-checkout__headingFace
    font $body1
  .a-checkout__titleSection
    font $body2
  .a-checkout__heading
    font $body1
