.pdp-sections
    display: flex
    flex-direction: column

    @media screen and (min-width: 991.5px)
        .pdp-swogo
            order: 1
        .pdp-carousel
            order: 3
        .pdp-extraInfo
            order: 4
        .pdp-specs
            order: 2
        .pdp-specsList
            order: 5
        .pdp-carousel2
            order: 6
        .pdp-comment
            order: 7



.o-product__productSpecs
		background #f5f5f5
		border-radius: 4px
		section
				border-radius 4px
				box-shadow 0 4px 7px 0 rgba(204, 204, 204, 0.5)

.o-product__productSpecsDetails, .o-product__productSpecsPromos
		background white
		border-radius: 4px
		.mdc-tab-scroller
			// padding-left 16px

