

.a-box__image
  width 100%
.a-checkoutHelp__icon
        font-size 24px
        color $white
.a-checkout__svgBag
  width 100%
  max-width 219px
  margin 0 auto
.a-product__iconProductShareWeb
		font-size 18px
		position relative
		top 3px
.a-modalShare__icon
		display block
		padding 25px 0 0 25px
		width 100%
		position relative
		outline none
		i
				color #9a9a9a
				font-size 1.438em
				display inline-block
				height 44px
				margin-right 20px
				padding-top 10px
				text-align center
				vertical-align middle
				width 44px
		span
				mixin-font($body2,$carbon)
				display inline-block
				font-size 0.875rem
				vertical-align middle
.mdc-snackbar
	.mdc-snackbar__surface
		.a-alert__icon
			&.icon-warning
				color #ffd457

.mdc-snackbar
	.mdc-snackbar__surface
		.a-alert__icon
			display block
.mdc-snackbar
	.mdc-snackbar__surface
		.a-alert__icon
			left 15px
			position absolute

.icon-warning
	&:before
		content "\e91b"


.a-checkout__paymentPaypal
	margin-bottom 1rem
	width 35%

.icon-draghandle
   //left 0px

//created by zensar
.a-select__help
	margin 0 0 0 9px
	font-size 16px
.dropleft
	.dropdown-toggle
		&::before
			content none
/*.mdc-radio__background
	top 0px*/

/*.menuMotion
	.dropdown-menu
		box-shadow 0 2px 4px -1px rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px 0 rgba(0,0,0,0.14)
		border-radius 4px
		background-color #fafafa
		border none
		padding 0
		position absolute
		will-change transform
		top 0px
		left 0px
		transform translate3d(-139px, 2px, 0px)*/

.a-pdpHybrid_icon
  margin-left 4px
  position absolute
  margin-top 1px
  font-size 0.875rem
//checkout
.a-checkoutHelp__icon
  font-size 24px
  color $white
.a-menuBack__icon
	color $a-topLink-color
  font-size 16px
.a-select__help
  margin 0 0 0 9px
  font-size 16px
.popover.fade.bs-popover-top.show 
  .popover-body
    border-radius: 4px
    font: $caption
  .popover-header
    background-color: #fff
    background-image: url(/static/images/atomo-icono-close-small-dark.svg)
    background-position: center
    background-repeat: no-repeat
    width: 7px
    padding: 8px
    background-size: cover
    height: 7px
    align-self: flex-start
    text-align: right
    border: none
    position: absolute
    top: 10px
    color: #666
    right: 8px
    cursor: pointer
