.m-header__searchBarMobile-modal
  width 100%
  background-color #fff
  button
    background-color #fff
    border 0
    &:focus
      outline none
  input
    background-color #fff
    border 0
    &:focus
      outline none
      box-shadow none

.icon-back 
	&:before 
		content "\e906"

.icon-close 
	&:before 
		content "\e900"
