.m-product-gallery,
.m-product__image
	display: flex
	justify-content: center
	max-height: 100%
	overflow: hidden
	img
		&.m-giftPurchase_productImage
			width: auto
			height: 190px

.m-product__image
	figure
		margin-bottom: 0;
		img 
			max-width: 100%
			height: auto
			max-height: 400px
			width: auto
