

.m-marketplace__profileHeader
  background $white
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.1)
  padding 10px 15px
  width 100%
.m-marketplace__sendMessage
  i,p
    display inline-block
    vertical-align middle
    margin-bottom 0
  i
    color $gray-silver
    font-size 1.2em
.a-marketplace__vendorLogo
  margin-top .2rem
.a-vendor__logo
  width 100%
.a-marketplace__aboutTitle
  border-top 1px solid $gray-mid
  padding-top 1rem
  
@media only screen and (max-width: 992px)
  .a-marketplace__vendorLogo
    margin .6rem auto
    width 40%
  .a-marketplace__vendorName
    mixin-font($title4-bold,$lead)
    text-align center
    
@media only screen and (max-width: 992px)
  .m-back__button
    padding-left 15px