.-forms
    border-radius 4px
    .m-box-form__content--my__account
        .a-changePass-label--required
            color $red
            font $caption
            float right
            margin 10px 0px 24px
        &#formchangePass
          > button
            margin 0
    .mdc-text-field+.mdc-text-field-helper-line
        padding-left 0px
        margin-bottom 16px
    .mdc-text-field--invalid ~ .mdc-text-field-helper-line
		    visibility visible
    .a-btn
        margin-bottom 16px
        margin-top 24px
.a-myAccount-aside--title
    font $title5-discount
    color: $carbon
    margin-bottom 22px
    &__formChangePassowrd
        font $title6
        color: $carbon
        text-align: left
        margin-left: 0px
        padding-top: 20px

@media only screen and (max-width: 992px)
    .-forms
        margin-left: -1rem!important
        margin-right: -1rem!important