.m-deliveryBox
	background-color $white
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.15)
	border-radius 4px
	padding 15px 12px
	label
			margin 3px 0
		
.m-bagResumeBox
	background-color $white
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.15)
	border-radius 4px
	padding 15px 12px
	label
			margin 3px 0

.a-deliveryBox--divider
	margin-top 12px
	margin-bottom 14px

.a-deliveryBox__heading
	font-size 0.875rem
	font $body1-section
	margin 0

.a-box__resume--small
	font-size 0.75rem

.a-box__resume--anchor
	color $primary-color
	font-size 0.75rem
	text-decoration underline
	cursor pointer

.a-box__digital
	font-size 0.75rem
	color #f5a623

.a-box__clickCollect
	font-size 0.75rem
	color #e10098