.o-loggedUserCardInfo
	background-color $white
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.15)
	border-radius 4px
	padding 15px 25px
	label
			margin 3px 0
        
.o-singleCardInfo
	display flex
	flex-wrap wrap

.m-cardInfoContainer
	display flex
	flex-direction row
	align-items flex-start

.m-infoContainer
	flex-direction column
	padding-left 0

.m-infoContainer__textContainer
	display flex
	flex-direction column
	align-items flex-start
	padding-left 0.375rem
	padding-top 0.3rem

.m-redirectIconContainer
	display flex
	justify-content flex-end
	padding-top 0.3rem

.m-addNewCard
	display flex
	flex-wrap wrap

.a-infoContainer__cardName
	font-size 0.875rem
	color #333333
	margin-bottom 0.5rem

.a-infoContainer__cardEnding
	font-size 0.75rem
	color #333333
	margin-bottom 0.5rem

.a-infoContainer__predefinedCard
	font-size 0.75rem
	color #e54197

.a-addCardButton
	font-size 0.875rem
	height 2.25rem
	border 1px solid
	margin-top 2.25rem
	width 148px

.a-addCard
	font-size 0.875rem
	color #333333
	padding-left 10px
	font $body2-title

.a-addCard--icon:before
	content url('/static/images/atomo-icono-arrow-right-small-carbon.svg')

.-bottomDivider
	border-bottom solid 1px #e4e4e4
	padding-bottom 1.25rem

.--upperDivider
	border-top solid 1px #e4e4e4
	margin-left -25px
	margin-right -25px

.--pd-0
	padding 0

@media (min-width: 991px)  
	.m-requestedInfoContainer
		height 128px