.m-cards-title
    display: flex
    align-items: center
    width: 100%
    padding-left: 8px
    .rectangle
        width: 0.500em
        height: 1.000em
        background: $primary-color
        margin-right: 14px
    p
        margin 0 12px 0 0
        font-family: 'robotomedium'
        font-size: 0.875em
        color: $carbon
    a
        font-family: 'robotolight'
        font-size: 0.750em
        color: $lead
        text-decoration: underline !important
