/*modal-content class added for 22455*/
.modal-content
	.m-product__productPromoContent
		overflow: auto
		height: 360px
		li
			list-style-type none
@media only screen and (max-width: 992px)
	.m-product__productPromoContent
		height: auto !important

