.a-plp__filterSelection
    background-color $white
    border 1px solid $timberwolf
    border-radius 16px
    color $carbon
    display inline-block
    font-size .75em
    margin-bottom 1em
    padding 5px 10px
    width auto
    i
        font-size .75em
        margin-left 10px