
// Mobile / Tablet portrait
@media (min-width: 320px) and (max-width: 991px){
  .o-tabIcon:first-child {
    padding-left: 0px;
  }
	.o-tabIcon__content{
		display: flex;
		justify-content: center;
		width: 100%;
	}
  .o-tabIcon__content .m-buttonTab{
    width: 50%;
  }
}