.m-trackingNumber__company
    mixin-font($body4, $carbon)
    margin-left 22px
    margin-right 9px
    vertical-align baseline

.m-trackingNumber__separator
    mixin-font($body3, $carbon)
    vertical-align baseline

.m-trackingNumber__field
    mixin-font($body3, $carbon)
    margin-left 9px
    margin-right 9px
    vertical-align baseline

.m-trackingNumber__number
    mixin-font($caption, $primary-color)
    text-decoration underline
    vertical-align baseline

.m-trackingNumber__row
    border-top solid 1px #d8d8d8
    padding-top 26px
    padding-bottom 26px