#cvv
   -webkit-text-security disc

.m-fullInfoContainer
  display flex
  flex-direction column
  padding-left 0.375rem

.m-fullInfoContainer--medium
  display none
  flex-direction column
  padding-left 0.375rem

.a-text-endingDate
  font-size 0.875rem
  color #666666
  margin-bottom 0.25rem

.a-text-endingDate--alter
  margin-bottom 16px
  font-size 0.875rem
  color #666666

.a-textField__helperText
  margin-bottom 8px

.a-cvv-anchor--helperText
  font-size 0.875rem
  color #666666

.a-cvv--iconHelper
  margin-left 0.5rem



.--pdl-0
  padding-left 0

.--mb-32
  margin-bottom 32px

#loginDetails1,
#loginDetails2,
#loginDetails3,
#loginDetails4,
#loginDetails5,
#loginDetails6
  .popover-body
    padding 10px 36px 10px 12px
    font $caption
    box-shadow none
    width 100%

  .popover-header
    background-color #fff

    background-position center
    background-repeat no-repeat
    width 7px
    padding 8px
    -moz-background-size cover
    background-size cover
    height 7px
    -ms-flex-item-align start
    align-self flex-start
    text-align right
    border none
    position absolute
    top 10px
    color #666
    right 8px
    cursor pointer
.requestcard
	position absolute
	transform translate3d(426px, -44px, 0px)
	top 0px
	left 0px
	will-change transform


#helper-text-containerMobile1,
#helper-text-containerMobile2,
#helper-text-containerMobile3,
#helper-text-containerMobile4,
#helper-text-containerMobile5,
#helper-text-containerMobile6
  width: 160%;

@media (min-width: 991px)
  .a-text-endingDate--alter
    margin 0

  #helper-text-containerMobile1,
  #helper-text-containerMobile2,
  #helper-text-containerMobile3,
  #helper-text-containerMobile4,
  #helper-text-containerMobile5,
  #helper-text-containerMobile6
    width: 160%;

@media (min-width: 1199px)
  .a-text-endingDate--alter
    margin 0
