


.m-product__socialShare
	background $white
	border 1px solid $gray89
	border-top 0px
	text-align center
	width 100%
	i
		font-size 1em
		color rgba(0,0,0,0.54)
		display inline-block
		height 18px
		vertical-align bottom
		top 0
	span
		mixin-font($body1, $gray29)
		display inline-block
		margin-left 5px
		vertical-align middle
	.a-product__socialShareLabel
		box-sizing border-box
		display block
		height 52px
		padding 12px 0

.m-product__emailShareForm
	padding-top 12px
	margin-bottom 33px

.m-product__emailShareContent
	margin-bottom 30px
	img
		width 100%

#social-modal
	.modal-body
		padding 0
	.modal-content
		box-shadow 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14)
		padding-bottom 25px
	.modal-header
		background #fafafa
		h2
			font: $share-modal
			margin 0
