.a-billingRequirements__title
    mixin-font($title6-popup,$carbon)
.a-billingRequirements__items
    mixin-font($body2,$carbon)
.a-billingRequirements__links
    mixin-font($body2,$primary-color)
.o-billingRequirements__aplication
    display inline

.o-billingRequirements__box
    margin-bottom 100px
    background-color $white
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.15)
    border-radius 4px
    padding 15px 25px
    label
        margin 3px 0