// .m-product__price
// 	padding 13px 0 30px
// 	sup
// 		top -0.4em
// 		font-size 65%
// 		position absolute
// 		text-decoration none
// 		top 25%

.m-product__price--collection
	padding-bottom: 0
	margin: 15px 0
	&div.col-12:first-child
		margin-bottom: 5px

@media only screen and (min-width: 992px)
	.m-product__price
		width 90%
		

@media only screen and (max-width: 991px)
	.m-product__price
		padding: 13px 0 10px
