.m-sectionHeader
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-start
  margin-bottom 1.875rem
  line-height 18.4px

.a-sectionHeader__title
  font-family $bold
  font-size 1rem
  color #333333
  margin-bottom 0

@media (min-width: 762px)
  .m-sectionHeader
    margin-bottom 21px

@media (min-width: 991px)
  .m-sectionHeader
    margin-bottom 44px