.m-ratings
  display block
  ul
    list-style none
    margin .5em 0
    padding 0
    li
      color $light-gold
      display inline-block
    .ratings-number
      color $lead
      font-size .75rem
      vertical-align text-top
      padding-top 1px
@media only screen and (min-width: 992px)
  .a-plp-product-info-list-view
    .m-ratings
      ul 
        li
          border 0
          font-size 1.25em
        .ratings-number
          font-size .625em
        