.m-flag-item.-mesa 
    font: 0.625rem 'robotoRegular';
    width: auto;
    justify-content: space-between;
    padding: 5px 13px;
.-primaryFlag 
    background: #666;
    color: #fff;
.m-flag-item 
    margin: 0 10px 10px 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: 22px;
    border-radius: 16px;
    border: none;