 .m-emailSend
    background #fff
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.15)

    .m-emailSend-instructions__content
        padding 24px
        color $carbon
        p
            font $body2
        a
            font-weight: 600
            color: $carbon
            text-decoration: none
        .a-email-userEmail
            font $body1
    .a-emailSend-body--last__paragraph
        margin-top 35px
@media only screen and (max-width:992px)
    .m-emailSend
        box-shadow none