.o-sitemap
	.card-columns
		column-count 4
	.card
		background-color initial
		border 0
		.a-sitemap__title a
			color: $carbon
		.a-sitemap__title a:hover
			color: $primary-color
		.a-sitemap__title a:active
			color: $primary-color
@media only screen and (max-width: 991px)
	.o-sitemap
		.card-columns
			column-count 2
		.card
			display inline-block
		