.smartBanner-container
    height 53px
    margin 0
    background $soft-gray
    .col-1,
    .col-2
        display flex
        align-items center
        justify-content center
    .col-7
        display flex
        flex-direction column
        align-items flex-start
        justify-content center
.icon-close.close
    font $body2

.a-smartBanner-logo
    width 43px
    height 43p

.a-smartBanner-title,
.a-smartBanner-paragraph
    margin 0

.a-smartBanner-title
    font $overline-medium

.a-smartBanner-span
    font 0.888rem $medium
    color $primary-color

.a-smartBanner-downloadLink
    font $body3-legend
    color $primary-color

.a-smartBanner-paragraph
    font $overline-module