.a-plp__btnFilter
    border-bottom 1px solid $timberwolf
    position relative
    i
        font-size .75em
    button
        background transparent
        border none
        display inline-flex
        font $body1-section
        padding .5em 0
        text-align left
        width 100%
        -webkit-appearance none
        &:focus
            outline 0
        &:active
            color: inherit
    h3
        font-size 1em
        width 100%
