.m-termsAndConditions
	display flex
	flex-direction column
	align-items flex-end
	margin-top 1.5rem
	padding-right 0

.termsAndConditions__container
	display flex
	align-items center
	justify-content flex-end
	flex-direction row
	padding 0

.termsAndConditions__btn--back
	// width 13.875rem
	height 2.75rem
	background-color #ada8a8
	border-color #ada8a8

.termsAndConditions__btn--continue
	// width 13.875rem
	height 2.75rem
	margin-left 1.5rem

#backButton:hover
	background-color: #ada8a8;
