

//checkout
.a-box__resume.-totalPrice
  color $red
  font $body1-section
.a-box__resume.-totalLabel
  font $body1-section
.a-box__resume 
	&.-totalLabel 
		font-size 18px
		font-family 'robotoMedium'
		color #333

.a-box__resume
  font $body2
  color $carbon
.a-box__productTitle
  color $carbon
  font $body2-title
  display block
.a-box__productQuantity
  color $lead
  font $overline-module
  display block
.a-box__eddTitle
  color $carbon
  font $caption
  display block
.a-box__edd
  color $lime-green
  font $caption
  display block
.a-box__subHeading
  color $lead
  font $body2
.a-checkoutHelp__text
  color $white
  cursor pointer
  font $caption
.a-checkout__titleResume
  color $carbon
  font $title6
.a-box__detailTitle
  font $body2
  color $dark
.a-box__medium, .a-box__quantity
  color $carbon
  font $body2-title
.a-box__normalPrice
  color $carbon
  font $body1
.a-box__totalPrice
  color $red
  font $body1
.a-box__resumeDetail
  font $caption
  color $carbon
.a-box__downloadDigital
  font $body2
  color $carbon
.a-checkoutSteps__text
  color $mobile-color
  cursor pointer
  font $body4
  padding 5px 0
.a-box__linePrice
  color $lead
  font $body1
  text-decoration line-through
@media (max-width 991px)
  //checkout
  .a-box__productTitle
    font $overline-medium
  .a-checkout__titleResume
    font $body2
  .a-box__normalPrice
    color $red
  .a-box__quantity
    font $caption
  .a-box__linePrice
    display block
  .a-box__normalPrice
    display block
