.m-header__searchBar
  border-radius 4px
  box-shadow: $b-shadow-card
  input
    font-size 0.75em
    background-clip unset
    border none
    height 40px
    &:focus
      outline none
      box-shadow none
    &::placeholder
      color $gray
  button
    background-color #fff
    cursor pointer
    border none
    i
      color $gray
    &:focus
      outline none
.m-header__searchBar:hover .m-header__searchBar button i
  color $primary-color
@media only screen and (max-width: 991px)
  .m-header__searchBar
    box-shadow none
    input
      border-right 0
    button
      i
        color $gray
.m-header__searchBar 
  .icon-color
    color $primary-color 