

.m-iframeContainer
  padding 0
  height 85vh

.m-establishmentsRow
	padding 8px 16px
	border 1px solid #e2e2e2

.establishmentsModal
  height 566px
  width 818px

.a-deliveryAddress__description
  font-size 0.75rem
  color #333333
  margin 0

.a-modal__title
  font $body2-title
  text-align left 
  color #333333

.a-modal__description
	font $body2
	text-align left 
	color #333333

.a-allyEstablishments__name 
	font 0.625rem $regular
	color #333333
	text-align center

.a-allyEstablishments__icon
	width 66px
	height 43px
	margin-bottom 8px

@media only screen and (min-width: 1199px)
  .m-iframeContainer
    padding 0
    height 60vh
