#filters-storeLocator, #filters-storeLocator-categories
    display block
    .m-list-scrollable
        max-height 100%
        margin-top: 26px 
    .modal-header
        position relative
        justify-content: start
        align-items: center
        i.icon-close.close
            position absolute
            top 18px
            right 12px
        .a-modalHeder__back
            padding-top: 0px
        .modal-title
            margin-left: 6px
    .modal-body
        margin: 0px
        .a-list-li-scrollable
            padding-left: 36px
        .list-group-item.active
            background-color: $gray-mid
            color $lead
#filters-storeLocator-categories
    .m-list-scrollable
        margin-top: 0px
    .modal-body
        padding: 0px
#filters-storeLocator-storeInformation
    display block
    .modal-content
        height auto
        font $body2
        color $carbon
        label
            font $caption
            margin-bottom 4px
        ul
            padding 0px 15px
    .icon-back.a-modalHeder__back
        display: block