

.m-marketplace__opinions
  background $white
  box-shadow 0 4px 7px 0 rgba(204, 204, 204, 0.5)
  padding 15px 20px
.m-marketplace__opinionBlock
  border-bottom 1px solid $silver
  .m-ratings
    display block
    