.a-airTime-subtotal, .a-airTime-subtotal__number
    font $body2
    color $carbon
.a-airTime-total, .a-airTime-total__number
    font $body1
    color $carbon
.a-airTime-total__number
    color $red
.a-airTime-end__recharge
    margin-bottom: 13px
.a-airTime-summary__note
    font-size: 13px
.a-termsANDconditions
    color $light-pink
    font-size: 13px
.a-airTime-sub__title
    &.-summary
        padding: 15px 0px 0px