#formRecovery 
    padding: 2.2rem 1.5rem
    .a-btn 
        margin-bottom: 100px

.a-login-label--recovery 
    color: #333
    margin-bottom: 28px
.a-login-backIcon
    background-repeat: no-repeat
    background-size: contain
    padding: 14px
    margin-right: 10px
    background-image url('/static/images/dark.svg')
    background-position center